


//首頁的section排版

.section{
 
  .section-image{
    //由小寫到大
    width: 100%;
    min-height: 250px;
    margin: 0px -10px;
   @media (min-width: 767px) {
    
    min-height: 460px;
    margin-top: -20px;
    margin-bottom: -20px;

   }
  }
  .section-text{
    max-height: 420px;
    line-height: 3;
    color: $primary;
    @media (max-width: 767px) {
     line-height: 1.5;
     writing-mode: lr-tb;
     height: auto;
   }
  }
  .section-slogan{
    margin-top: -20px;
  }

}

