
.item-border{
    
    @media (min-width: 767px) {
        border-bottom: 1px solid $base;
        
    }

}
.item-price-border{
    border-top: 1px solid $base;
    border-bottom:1px solid $base;
     @media (min-width: 767px) {
        border: 0;
        
    }
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

//訂單摘要
.summary{
    background-color: $primary;
    color: #fff;

    @media (max-width:767px) {
        background-color: #fff;
        color: $primary;
        
    }
}
.summary-title{
    background-color: $primary;
    color: #fff;
    border-bottom: 1px solid #fff;
    @media (max-width:767px){
        background-color: $base;
        color: $primary;
        border-color:$base;
    }
}
.summary-table{
    color: $base;
    @media (max-width:767px) {
        color: $primary;
        
    }
}